{% load static %}
<footer class="w-100 bg-primary">
    <div class="row mt-5 p-lg-4 p-5 w-100">
        <div class="col-lg-4 col-10">
            <img id="whiteLogoImage" class="mb-4" src="{% static 'images/whiteLogo.png' %}">
            <div class="col-lg-6 col-11 mb-5 mb-lg-0"><small class="text-light logo-txt">Мы используем куки, это позволяет улучшить ваш пользовательский опыт</small></div>
        </div>

    	<ul class="nav flex-column col-lg-3 col-9 text-white">
    	    <li class="nav-item">
		        <h5 class="nav-link text-light">Навигация</h5>
		    </li>
    		<li class="nav-item col-lg-3 mt-1">
    			<a class="nav-txt nav-link text-light" href="">Главная</a>
    		</li>
    		<li class="nav-item">
    		    <a class="nav-txt nav-link text-light" href="">О нас</a>
    		</li>
    		<li class="nav-item">
    		    <a class="nav-txt nav-link text-light" href="">Как мы работаем</a>
    		</li>
    		<li class="nav-item">
    			<a class="nav-txt nav-link text-light" href="">Тарифы</a>
    		</li>
    		<li class="nav-item">
    			<a class="nav-txt nav-link text-light" href="">Обратная связь</a>
    		</li>
    		<li class="nav-item">
    			<a class="nav-txt nav-link text-light" href="">FAQ</a>
    		</li>
    	</ul>

    	<ul class="nav flex-column col-lg-3 col-9 text-white mt-3 mt-lg-0">
    	    <li class="nav-item">
		        <h5 class="nav-link text-light">Контакты</h5>
		    </li>
    		<li class="nav-item col-lg-3 mt-1">
    			<span class="nav-txt nav-link text-light" href="">business@rectop.ru</span>
    		</li>
    		<li class="nav-item">
    		    <span class="nav-txt nav-link text-light" href="">+7 (999) 888-77-66</span>
    		</li>
    		<li class="nav-item">
    		    <a class="nav-txt nav-link text-light text-decoration-underline" href="">Политика конфиденциальности</a>
    		</li>
    		<li class="nav-item">
    			<a class="nav-txt nav-link text-light text-decoration-underline" href="">Лицензионный договор</a>
    		</li>

            <li class="nav-item m-3">
        		<div class="row mt-3">
        		    <div class="col-lg-2 col-4 m-2 m-lg-1">
            		    <i id="tgButtonImage" class="bi bi-telegram"></i>
        		    </div>
            		<div id="vkButtonImage" class="col-lg-2 col-4 rounded-circle bg-white m-2 m-lg-1">
            		    <i class="fab fa-vk text-primary"></i>
            		</div>
            	</div>
        	</li>
    	</ul>

    	<span class="col-lg-10 col-9 text-light logo-txt mt-3">© 2018–2022 Rectop - агрегатор отзывов</span>
    </div>
</footer>